doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Resource Page
  body
    h1 Resources
    p Here are some useful resources:
    ul
      li
        a(href="https://www.example.com") Example Website
      li
        a(href="https://www.anotherexample.com") Another Example Website