//Has the finaicial advisors 

doctype html
html
  head
    title Resource Page
  body
    h1 Resources
    p Here are some useful resources:
    ul
      li
        a(href="https://www.example.com") Example Website
      li
        a(href="https://www.anotherexample.com") Another Example Website
      
      a.back-link(href="/") ← Back to Home
